# Cleaning & Merging Examinations Datasets

In [ ]:
import pandas as pd

1. Body Measures Dataset

In [ ]:
df_BodyMeasures = pd.read_sas('/content/drive/MyDrive/Healthcare Prediction Task/data/raw/examination/BMX_L.xpt')
df_BloodPressure = pd.read_sas('/content/drive/MyDrive/Healthcare Prediction Task/data/raw/examination/BPXO_L.xpt')

In [ ]:
df_BodyMeasures.head()

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,BMXLEG,BMILEG,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXHIP,BMIHIP
0,130378.0,1.0,86.9,NaN,NaN,NaN,NaN,NaN,179.5,NaN,...,42.8,NaN,42.0,NaN,35.7,NaN,98.3,NaN,102.9,NaN
1,130379.0,1.0,101.8,NaN,NaN,NaN,NaN,NaN,174.2,NaN,...,38.5,NaN,38.7,NaN,33.7,NaN,114.7,NaN,112.4,NaN
2,130380.0,1.0,69.4,NaN,NaN,NaN,NaN,NaN,152.9,NaN,...,38.5,NaN,35.5,NaN,36.3,NaN,93.5,NaN,98.0,NaN
3,130381.0,1.0,34.3,NaN,NaN,NaN,NaN,NaN,120.1,NaN,...,NaN,NaN,25.4,NaN,23.4,NaN,70.4,NaN,NaN,NaN
4,130382.0,3.0,13.6,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN

In [ ]:
df_BloodPressure.head()

,SEQN,BPAOARM,BPAOCSZ,BPXOSY1,BPXODI1,BPXOSY2,BPXODI2,BPXOSY3,BPXODI3,BPXOPLS1,BPXOPLS2,BPXOPLS3
0,130378.0,b'R',4.0,135.0,98.0,131.0,96.0,132.0,94.0,82.0,79.0,82.0
1,130379.0,b'R',4.0,121.0,84.0,117.0,76.0,113.0,76.0,72.0,71.0,73.0
2,130380.0,b'R',4.0,111.0,79.0,112.0,80.0,104.0,76.0,84.0,83.0,77.0
3,130386.0,b'R',4.0,110.0,72.0,120.0,74.0,115.0,75.0,59.0,64.0,64.0
4,130387.0,b'R',4.0,143.0,76.0,136.0,74.0,145.0,78.0,80.0,80.0,77.0

In [ ]:
df_BodyMeasures.isnull().sum()

SEQN           0
BMDSTATS       0
BMXWT        106
BMIWT       8515
BMXRECUM    8406
BMIRECUM    8842
BMXHEAD     8790
BMIHEAD     8860
BMXHT        361
BMIHT       8726
BMXBMI       389
BMDBMIC     6368
BMXLEG      1525
BMILEG      8464
BMXARML      292
BMIARML     8660
BMXARMC      298
BMIARMC     8655
BMXWAIST     670
BMIWAIST    8513
BMXHIP      2084
BMIHIP      8499
dtype: int64

In [ ]:
df_BloodPressure.shape

(7801, 12)

In [ ]:
df_BloodPressure.isnull().sum()

SEQN          0
BPAOARM       0
BPAOCSZ     190
BPXOSY1     284
BPXODI1     284
BPXOSY2     296
BPXODI2     296
BPXOSY3     321
BPXODI3     321
BPXOPLS1    284
BPXOPLS2    296
BPXOPLS3    321
dtype: int64

In [ ]:
#Extracting Relevant columns from Body Measures dataset for merging
df_BodyMeasures = df_BodyMeasures[['SEQN','BMXBMI','BMXWT','BMXHT' ,'BMXWAIST']].rename(columns = {
    'SEQN' : 'ID',
    'BMXBMI' : 'BMI',
    'BMXWT' : 'weight',
    'BMXHT' : 'height',
    'BMXWAIST' : 'waist'
})

In [ ]:
df_BodyMeasures.isnull().sum()

ID          0
BMI       389
weight    106
height    361
waist     670
dtype: int64

Waist circumference is a stronger predictor for metabolic disease

Central obesity (high waist) is more strongly linked to diabetes than BMI alone.

Will keep null values for now till merging with demographics dataset , because these measures are from patients from all ages so using imputation using median won't be quite correct for now

In [ ]:
# Handling Nan Values , filling with median

#for col in df_BodyMeasures.columns:
  #if col != 'ID':  # Skip the ID column
    #df_BodyMeasures[col] = df_BodyMeasures[col].fillna(df_BodyMeasures[col].median())

In [ ]:
# recalculating BMI to ensure consistency
#df_BodyMeasures['BMI'] = df_BodyMeasures['weight'] / (df_BodyMeasures['height']/100)**2

In [ ]:
#Extracting Relevant columns from Blood Pressure dataset for merging
df_BloodPressure = df_BloodPressure[['SEQN','BPXOSY1', 'BPXOSY2', 'BPXOSY3','BPXODI1', 'BPXODI2', 'BPXODI3']]

# Extracting systolic BP , diastolic BP as an average of their 3 readings
df_BloodPressure['systolic_bp'] = df_BloodPressure[['BPXOSY1','BPXOSY2','BPXOSY3']].mean(axis=1)
df_BloodPressure['diastolic_bp'] = df_BloodPressure[['BPXODI1','BPXODI2','BPXODI3']].mean(axis=1)

In [ ]:
# drop raw readings
df_BloodPressure = df_BloodPressure[['SEQN','systolic_bp','diastolic_bp']].rename(columns = {'SEQN' : 'ID'})

In [ ]:
df_BloodPressure

            ID  systolic_bp  diastolic_bp
0     130378.0   132.666667     96.000000
1     130379.0   117.000000     78.666667
2     130380.0   109.000000     78.333333
3     130386.0   115.000000     73.666667
4     130387.0   141.333333     76.000000
...        ...          ...           ...
7796  142306.0          NaN           NaN
7797  142307.0   130.000000     73.333333
7798  142308.0   108.000000     69.333333
7799  142309.0   126.666667     81.333333
7800  142310.0   126.000000     80.000000

[7801 rows x 3 columns]

In [ ]:
df_BloodPressure.isna().sum()

ID                0
systolic_bp     283
diastolic_bp    283
dtype: int64

In [ ]:
df_BodyMeasures.isna().sum()

ID          0
BMI       389
weight    106
height    361
waist     670
dtype: int64

In [ ]:
# Merging Datasets into one examinations dataset
dfs = [df_BodyMeasures, df_BloodPressure]

# First, set 'ID' as index for each dataframe
for df in dfs:
    df.set_index('ID', inplace=True)

# Concatenate along columns
df_exam = pd.concat(dfs, axis=1)
df_exam.reset_index(inplace=True)

In [ ]:
df_exam

            ID   BMI  weight  height  waist  systolic_bp  diastolic_bp
0     130378.0  27.0    86.9   179.5   98.3   132.666667     96.000000
1     130379.0  33.5   101.8   174.2  114.7   117.000000     78.666667
2     130380.0  29.7    69.4   152.9   93.5   109.000000     78.333333
3     130381.0  23.8    34.3   120.1   70.4          NaN           NaN
4     130382.0   NaN    13.6     NaN    NaN          NaN           NaN
...        ...   ...     ...     ...    ...          ...           ...
8855  142306.0  15.4    25.3   128.0   57.7          NaN           NaN
8856  142307.0   NaN     NaN   143.8    NaN   130.000000     73.333333
8857  142308.0  26.4    79.3   173.3   98.4   108.000000     69.333333
8858  142309.0  25.5    81.9   179.1   96.0   126.666667     81.333333
8859  142310.0  27.6    72.1   161.7  110.8   126.000000     80.000000

[8860 rows x 7 columns]

In [ ]:
df_exam.isnull().sum()

ID                 0
BMI              389
weight           106
height           361
waist            670
systolic_bp     1342
diastolic_bp    1342
dtype: int64

In [ ]:
df_exam.to_csv('/content/drive/MyDrive/Healthcare Prediction Task/data/cleaned/exam.csv', index=False)